/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Body */
body {
  background-color: #e9e9e9;
  margin: 0; /* remove default margin */
}

/* Navbar Wrapper */
.navbarContainer {
  width: 100%;
}

/* Navbar */
.navbar {
  background-color: #218091;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  width: 100%; /* full width */
  border-radius: 1%; /* remove rounded corners */
}

/* Logo */
.logoCircle {
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoIcon {
  font-size: 20px;
  font-weight: bold;
}

/* Nav Links */
.navLinks {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navLinks a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.navLinks a:hover {
  opacity: 0.6;
}

/* Email Button */
.email {
  background-color: #f2f2f2;
  padding: 10px 22px;
  border-radius: 40px;
  font-size: 16px;
}